main.main-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  .form-cadastro {
    display: inline-block;
    padding: 20px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #f5f5f5;
    width: 310px;
    max-width: 95vw;

    .form-line {
      display: flex;
      flex-direction: column;
      margin: 15px 0;

      textarea {
        resize: vertical;
      }
      .error-label {
        font-size: 13px;
        color: red;
        margin: 5px 0;
      }
    }
    .buttons-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      align-items: center;
    }
  }
}
